:root {
  --global: 1;
}

html {
  height: 100%;
  height: -webkit-fill-available;
  writing-mode: horizontal-tb;
  font-size: 100%;
  position: relative;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
}
